.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.951172;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.947266;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.277315,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.277315,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.277315,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:16.632000px;}
.fs0{font-size:17.280000px;}
.y14{bottom:-4.539900px;}
.y1b{bottom:-4.539800px;}
.y4{bottom:0.752000px;}
.y2{bottom:1.129900px;}
.y7{bottom:1.130000px;}
.yd{bottom:1.271700px;}
.y1d{bottom:1.271800px;}
.y20{bottom:4.106600px;}
.y38{bottom:52.973300px;}
.y0{bottom:121.500000px;}
.y37{bottom:145.250600px;}
.y36{bottom:151.203900px;}
.y35{bottom:157.157200px;}
.y34{bottom:163.110500px;}
.y33{bottom:186.073300px;}
.y32{bottom:191.743200px;}
.y31{bottom:197.413000px;}
.y30{bottom:209.036100px;}
.y2f{bottom:214.989400px;}
.y2e{bottom:220.659300px;}
.y2d{bottom:226.612600px;}
.y2c{bottom:232.565900px;}
.y2b{bottom:244.189000px;}
.y2a{bottom:250.142300px;}
.y29{bottom:255.812200px;}
.y28{bottom:261.482000px;}
.y27{bottom:267.435300px;}
.y26{bottom:279.058400px;}
.y25{bottom:290.681500px;}
.y24{bottom:296.634800px;}
.y23{bottom:302.304600px;}
.y22{bottom:307.974500px;}
.y21{bottom:313.644300px;}
.y1f{bottom:319.597600px;}
.y1e{bottom:331.220700px;}
.y1c{bottom:342.843800px;}
.y1a{bottom:348.797100px;}
.y19{bottom:354.467000px;}
.y18{bottom:360.136800px;}
.y17{bottom:365.806600px;}
.y16{bottom:371.476400px;}
.y15{bottom:377.146200px;}
.y13{bottom:382.816100px;}
.y12{bottom:388.485900px;}
.y11{bottom:394.155700px;}
.y10{bottom:399.825500px;}
.yf{bottom:405.495300px;}
.ye{bottom:411.165200px;}
.yc{bottom:417.118500px;}
.y3a{bottom:418.914062px;}
.yb{bottom:423.071800px;}
.y39{bottom:423.794836px;}
.ya{bottom:434.694900px;}
.y9{bottom:440.364700px;}
.y8{bottom:446.034600px;}
.y6{bottom:451.704400px;}
.y5{bottom:463.044000px;}
.y3{bottom:468.713800px;}
.y1{bottom:474.383700px;}
.h2{height:5.169800px;}
.h4{height:5.169900px;}
.h6{height:5.453300px;}
.h7{height:11.123100px;}
.h9{height:11.978613px;}
.h5{height:12.377812px;}
.h3{height:12.445312px;}
.h1{height:361.500000px;}
.h8{height:433.000000px;}
.h0{height:539.473300px;}
.w10{width:19.624600px;}
.w7{width:19.624700px;}
.w11{width:39.749300px;}
.w6{width:39.749400px;}
.w4{width:59.874000px;}
.wa{width:59.874100px;}
.w3{width:79.998700px;}
.w5{width:79.998800px;}
.wc{width:100.123400px;}
.w8{width:120.248100px;}
.wf{width:140.372800px;}
.w9{width:261.120800px;}
.wd{width:381.868800px;}
.we{width:422.118200px;}
.wb{width:442.242900px;}
.w2{width:462.367600px;}
.w1{width:463.500000px;}
.w12{width:464.000000px;}
.w0{width:563.667600px;}
.x5{left:1.169300px;}
.x1c{left:3.159300px;}
.x9{left:5.752800px;}
.x15{left:6.961500px;}
.x12{left:8.472900px;}
.xf{left:15.507800px;}
.xd{left:18.100200px;}
.x4{left:19.179800px;}
.x11{left:20.217000px;}
.x14{left:28.597500px;}
.x0{left:50.000000px;}
.xa{left:70.774700px;}
.x19{left:90.899400px;}
.xb{left:121.705200px;}
.x1{left:127.505900px;}
.x13{left:129.220900px;}
.x2{left:131.527400px;}
.x1a{left:151.273400px;}
.x3{left:167.683200px;}
.x6{left:171.398100px;}
.x16{left:182.079200px;}
.x17{left:189.595000px;}
.x18{left:211.647400px;}
.x1d{left:251.896800px;}
.x1b{left:272.021400px;}
.x7{left:292.146100px;}
.x1e{left:312.270800px;}
.xc{left:332.395500px;}
.x8{left:352.520100px;}
.xe{left:392.769500px;}
.x1f{left:433.353565px;}
.x10{left:453.143500px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:22.176000pt;}
.fs0{font-size:23.040000pt;}
.y14{bottom:-6.053200pt;}
.y1b{bottom:-6.053067pt;}
.y4{bottom:1.002667pt;}
.y2{bottom:1.506533pt;}
.y7{bottom:1.506667pt;}
.yd{bottom:1.695600pt;}
.y1d{bottom:1.695733pt;}
.y20{bottom:5.475467pt;}
.y38{bottom:70.631067pt;}
.y0{bottom:162.000000pt;}
.y37{bottom:193.667467pt;}
.y36{bottom:201.605200pt;}
.y35{bottom:209.542933pt;}
.y34{bottom:217.480667pt;}
.y33{bottom:248.097733pt;}
.y32{bottom:255.657600pt;}
.y31{bottom:263.217333pt;}
.y30{bottom:278.714800pt;}
.y2f{bottom:286.652533pt;}
.y2e{bottom:294.212400pt;}
.y2d{bottom:302.150133pt;}
.y2c{bottom:310.087867pt;}
.y2b{bottom:325.585333pt;}
.y2a{bottom:333.523067pt;}
.y29{bottom:341.082933pt;}
.y28{bottom:348.642667pt;}
.y27{bottom:356.580400pt;}
.y26{bottom:372.077867pt;}
.y25{bottom:387.575333pt;}
.y24{bottom:395.513067pt;}
.y23{bottom:403.072800pt;}
.y22{bottom:410.632667pt;}
.y21{bottom:418.192400pt;}
.y1f{bottom:426.130133pt;}
.y1e{bottom:441.627600pt;}
.y1c{bottom:457.125067pt;}
.y1a{bottom:465.062800pt;}
.y19{bottom:472.622667pt;}
.y18{bottom:480.182400pt;}
.y17{bottom:487.742133pt;}
.y16{bottom:495.301867pt;}
.y15{bottom:502.861600pt;}
.y13{bottom:510.421467pt;}
.y12{bottom:517.981200pt;}
.y11{bottom:525.540933pt;}
.y10{bottom:533.100667pt;}
.yf{bottom:540.660400pt;}
.ye{bottom:548.220267pt;}
.yc{bottom:556.158000pt;}
.y3a{bottom:558.552082pt;}
.yb{bottom:564.095733pt;}
.y39{bottom:565.059781pt;}
.ya{bottom:579.593200pt;}
.y9{bottom:587.152933pt;}
.y8{bottom:594.712800pt;}
.y6{bottom:602.272533pt;}
.y5{bottom:617.392000pt;}
.y3{bottom:624.951733pt;}
.y1{bottom:632.511600pt;}
.h2{height:6.893067pt;}
.h4{height:6.893200pt;}
.h6{height:7.271067pt;}
.h7{height:14.830800pt;}
.h9{height:15.971484pt;}
.h5{height:16.503750pt;}
.h3{height:16.593750pt;}
.h1{height:482.000000pt;}
.h8{height:577.333333pt;}
.h0{height:719.297733pt;}
.w10{width:26.166133pt;}
.w7{width:26.166267pt;}
.w11{width:52.999067pt;}
.w6{width:52.999200pt;}
.w4{width:79.832000pt;}
.wa{width:79.832133pt;}
.w3{width:106.664933pt;}
.w5{width:106.665067pt;}
.wc{width:133.497867pt;}
.w8{width:160.330800pt;}
.wf{width:187.163733pt;}
.w9{width:348.161067pt;}
.wd{width:509.158400pt;}
.we{width:562.824267pt;}
.wb{width:589.657200pt;}
.w2{width:616.490133pt;}
.w1{width:618.000000pt;}
.w12{width:618.666667pt;}
.w0{width:751.556800pt;}
.x5{left:1.559067pt;}
.x1c{left:4.212400pt;}
.x9{left:7.670400pt;}
.x15{left:9.282000pt;}
.x12{left:11.297200pt;}
.xf{left:20.677067pt;}
.xd{left:24.133600pt;}
.x4{left:25.573067pt;}
.x11{left:26.956000pt;}
.x14{left:38.130000pt;}
.x0{left:66.666667pt;}
.xa{left:94.366267pt;}
.x19{left:121.199200pt;}
.xb{left:162.273600pt;}
.x1{left:170.007867pt;}
.x13{left:172.294533pt;}
.x2{left:175.369867pt;}
.x1a{left:201.697867pt;}
.x3{left:223.577600pt;}
.x6{left:228.530800pt;}
.x16{left:242.772267pt;}
.x17{left:252.793333pt;}
.x18{left:282.196533pt;}
.x1d{left:335.862400pt;}
.x1b{left:362.695200pt;}
.x7{left:389.528133pt;}
.x1e{left:416.361067pt;}
.xc{left:443.194000pt;}
.x8{left:470.026800pt;}
.xe{left:523.692667pt;}
.x1f{left:577.804753pt;}
.x10{left:604.191333pt;}
}
